
.DS_Store
.project
_project
*~
*.bak
*.cache
*.lock
*.log
*.pid
*.pyc
*.pyd
*.pyo
*.sublime-project
*.sublime-workspace
*.swap
*.swp

.git/
.idea/
.vscode/
*.egg-info/
*/__pycache__/

#spug_api/spug/overrides.py
spug_web/build/
spug_web/node_modules/
